@model List<Models.Project>

<h1>Projektübersicht</h1>

<div class="row portfolio-overview d-flex align-items-center" id="project-overview-list">

    <div class="navigation-arrow-prev text-white" id="prevProjects" onclick="scrollToPrevProjects()"><i class="fas fa-chevron-circle-left"></i></div>

    @foreach (var project in Model)
    {
        <a asp-page="./ProjectDetails" asp-route-projectId="@project.ProjectId">
            <div class="card portfolio-card border-0">

                <img class="card-img portfolio-card-content" src="@project.ThumbnailPath" alt="@project.Title" />

                <div class="card-img-overlay portfolio-card-content d-flex align-items-end justify-content-center">
                    <div class="portfolio-card-footer-background"></div>
                </div>

                <div class="card-img-overlay portfolio-card-content d-flex align-items-end">
                    <div class="container">
                        <h2>@project.Title</h2>
                        <h3>@project.MainTechnology</h3>
                    </div>
                </div>
            </div>
        </a>
    }

    <a style="cursor:default">
        <div class="card portfolio-card border-0">

            <img class="card-img portfolio-card-content" src="~/Images/Thumbnails/Thumbnail-Vorlage.png" alt="Weitere folgen.. " />

            <div class="card-img-overlay portfolio-card-content d-flex align-items-end">
                <div class="container">
                    <h2 class="mb-3">Weitere folgen..</h2>
                </div>
            </div>
        </div>
    </a>

    <div class="navigation-arrow-next text-white" id="nextProjects" onclick="scrollToNextProjects()"><i class="fas fa-chevron-circle-right"></i></div>

</div>