@model List<Models.Project>

<h1>Projektübersicht</h1>

<div class="project-overview pb-3">

    <button class="btn scroll-btn scroll-btn-backward"><i class="fas fa-chevron-left"></i></button>

    <div class="project-card-stack">

        @foreach (var project in Model)
        {
            <a asp-page="./ProjectDetails" asp-route-projectId="@project.ProjectId">
                <div class="project-card">

                    <img class="project-thumbnail" src="@project.ThumbnailPath" alt="@project.Title" />

                    @if (project.IsInProgress || project.IsNew)
                    {
                        <div class="project-status-ribbon">
                            <div class="ribbon"><span>NEW</span></div>
                        </div>
                    }

                    <div class="project-circle"></div>

                    <div class="project-details">
                        <div class="project-title">@project.Title</div>
                        <div class="project-tech">@project.MainTechnology</div>
                    </div>

                </div>
            </a>
        }

        <a>
            <div class="project-card" style="border: solid 3px gray; border-radius: 9px; cursor: default">

                <div class="project-circle" style="background:transparent; border: solid 3px gray; opacity:1;"></div>

                <div class="project-details" style="top: calc(50% - 0.75rem);">
                    <div class="project-title">In Arbeit...</div>
                </div>

            </div>
        </a>

    </div>

    <button class="btn scroll-btn scroll-btn-forward"><i class="fas fa-chevron-right"></i></button>

</div>