@page
@model PortfolioWebApp.Pages.Projects.OverviewModel
@{
    ViewData["Title"] = "Projektübersicht";
}

<h2>Projektübersicht</h2>

@foreach (var topic in Model.ProjectTopics)
{
    <h4>@topic</h4>

    <div class="row">
        @foreach (var project in Model.ProjectList)
        {
            if (project.Topic == topic)
            {
                //Todo: other view for mobile devices
                <a class="col-lg-3 col-md-4" href="~/Projects/ProjectDetails?Id=@project.Id">
                    <div class="card mb-2">
                        <img src=@project.Thumbnail class="card-img-top" />
                        <div class="card-body">
                            <div class="card-title">
                                <h5>@project.Title</h5>
                                <h6 class="text-muted">@project.StartingDate.ToString("MMM yyy") - @project.EndingDate.ToString("MMM yyy")</h6>
                            </div>

                            <p class="card-text">@project.Description</p>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
}


