@page
@model PortfolioWebApp.Pages.Projects.ProjectDetailsModel
@{
    ViewData["Title"] = Model.selectedProject.Title;
}


<h2>@Model.selectedProject.Title</h2>

<div class="row">
    <div class="col-lg-9 col-md-8">
        <h4 class="text-muted font-weight-lighter">@Model.selectedProject.StartingDate.ToString("MMM yyy") - @Model.selectedProject.EndingDate.ToString("MMM yyy")</h4>

        <p class="font-italic">@Model.selectedProject.Description</p>

        <img class="border mb-3 img-fluid" src=@Model.selectedProject.Image />
        

        @if (Model.selectedProject.Functions != null)
        {
            <h4>Funktionen</h4>

            <ul>
                @foreach (var function in Model.selectedProject.Functions)
                {
                    <li>@function</li>
                }
            </ul>
        }

    </div>

    <div class="col-lg-3 col-md-4 bg-light">
        <div class="container bg-light">
            <h4>Verwendete Tools</h4>
            <ul>
                @foreach (var tool in Model.selectedProject.UsedTools)
                {
                    <li>@tool</li>
                }
            </ul>

            @if (Model.selectedProject.CodeLink != null)
            {
                <h2 class="d-flex justify-content-center"><span class="badge badge-secondary mb-3"><a href=@Model.selectedProject.CodeLink class="text-white"><i class="fab fa-github"></i> zum Code</a></span></h2>
            }
        </div>
    </div>

</div>

<a asp-page="/Projects/Overview">zurück</a>
