@page
@model IndexModel
@{
}


<div id="Index" class="page-section">

    <img src="~/Images/me.png" alt="Maximilian Kiefer" />

    <div class="bg-info">

        <div class="d-flex align-items-center justify-content-end landing-headings">
            <h2 class="text-white">Maximilian Kiefer</h2>
            <h1 class="text-white">C# Softwareentwickler</h1>
        </div>

        <div class="d-flex justify-content-end align-items-end">
            <div class="footer-background"></div>
        </div>

        <div class="d-flex align-items-center justify-content-end">
            <a href="#AboutMe">
                <i class="fas fa-chevron-down text-white go-on-arrow"></i>
            </a>
        </div>

    </div>
</div>


<div id="AboutMe" class="page-section">

    <h1>Über mich</h1>

    <div>
        <h2>Wachstum durch Herausforderung</h2>
        <div class="text-justify hyphens">
            Diese Devise beschreibt mich wohl am besten. <br />
            Meine Faszination für Softwareentwicklung hatte ihren Ursprung im jugendlichen Wunsch ein eigenes Videospiel zu entwickeln. <br />
            So eignete ich mir selbstständig die Grundlagen von C# an und baute diese fortwährend in diversen Projekten, so auch dieser Homepage, immer weiter aus.
            Sicherlich ist der Weg des Selbststudiums nicht immer einfach und dennoch setze ich mir kontinuierlich höhere Ziele und verwende neue Technologien und Methoden, um weiter von Projekt zu Projekt zu wachsen.
            Herausforderungen treiben mich an und motivieren mich stetig zu lernen.
        </div>
    </div>

    <br />

    <h2>Doch wer bin ich eigentlich?</h2>
    <div class="text-justify hyphens">
        Ich bin Maximilian und arbeite derzeit im IT Recruiting eines mittelständischen Unternehmens am Standort Karlsruhe. <br />
        Studiert habe ich an der renommierten Hochschule Pforzheim und habe dort im Jahr 2019 meinen Bachelor im Bereich BWL mit Schwerpunkt Personalmanagement erworben.
        Neben der HR Erfahrung, hatte ich auch im Studium zahlreiche Schnittstellen mit der IT.
        Meine Thesis zum Beispiel schrieb ich bei einem Unternehmen, welches sich auf IT-Lösungen für den öffentlichen Personennahverkehr spezialisiert hat und unterstützte dieses dabei eine Social Collaboration Plattform erfolgreich einzuführen.
        Hierbei erarbeite ich konkrete Handlungsempfehlungen für den notwendigen Change Prozess und wirkte in der Folge auch an der technischen Einführung mit. <br />
        Natürlich verbringe ich meine Freizeit gerne am PC, doch bin ich auch sportlich aktiv und als Torwart der sichere Rückhalt meiner Handballmannschaft.
    </div>
    <br />

</div>


<div id="ProjectOverview" class="page-section">

    <h1>Projektübersicht</h1>

    @*Normal Size Screen*@
    <div @*class="d-none d-sm-block"*@>
        <div class="row">

            @foreach (var project in Model.MyProjects)
            {
                <a href="~/ProjectDetails?Id=@project.Id">
                    <div class="card portfolio-card border-0">

                        <img class="card-img portfolio-card-content" src="@project.Thumbnail" alt="@project.Title" />

                        <div class="card-img-overlay portfolio-card-content d-flex align-items-end justify-content-center">
                            <div class="portfolio-card-footer-background"></div>
                        </div>

                        <div class="card-img-overlay portfolio-card-content d-flex align-items-end">
                            <div class="container">
                                <h2>@project.Title</h2>
                                <h3>@project.MainTechnology</h3>
                            </div>
                        </div>
                    </div>
                </a>
            }


            <div class="card portfolio-card border-0" style="cursor:default">

                <img class="card-img portfolio-card-content" src="~/Images/Thumbnails/Thumbnail-Vorlage.png" alt="Weitere folgen..." />

                <div class="card-img-overlay portfolio-card-content d-flex align-items-end">
                    <div class="container">
                        <h2 class="mb-3 text-black-50">Weitere folgen..</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @*Small Size Screen*@
    @*<div class="d-block d-sm-none">



            <div style="position:relative; top:0; left:0;" class="bg-light">
                <div style="visibility:hidden;">
                    <img src="~/Images/Thumbnails/PrivHomepage.png" style="height:2000px" />
                </div>


                <div class="row">


                    <div style="z-index:0; opacity:0.3; position:absolute; top:0; left:0; transform:scale(0.9)">
                        <img src="@Model.MyProjects[2].Thumbnail" />
                    </div>

                    <div style="z-index:1; opacity:0.5; position:absolute; top:0; left:10%; transform:scale(0.95)">
                        <img src="@Model.MyProjects[1].Thumbnail" />
                    </div>


                    <div style="z-index:2; position:absolute; top:0; left:50%; margin-left:-100px;">
                        <img src="@Model.MyProjects[0].Thumbnail"/>
                    </div>


                    <div style="z-index:1; opacity:0.5; position:absolute; top:0; right:10%; transform:scale(0.95)">
                        <img src="@Model.MyProjects[1].Thumbnail" />
                    </div>

                    <div style="z-index:0; opacity:0.3; position:absolute; top:0; right:0; transform:scale(0.9)">
                        <img src="@Model.MyProjects[2].Thumbnail" />
                    </div>
                </div>

            </div>

        </div>*@


</div>


<div id="Skillset" class="page-section">

    <h1>Mein Skillset</h1>

    @foreach (var category in Model.SkillCategories)
    {
        <div id="@category" class="mt-3">

            <h2>@category</h2>
            @{
                List<Models.Skill> skillsOfCategory = Model.MySkills.Where(c => c.Category == category).ToList();
                int skillsToShow = 2;
                int numberOfSkillsInCategory = skillsOfCategory.Count();
            }

            @*Normal Size Screen*@
            <div class="d-none d-sm-block">
                <div class="row">
                    @foreach (var skill in skillsOfCategory)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6">

                            @skill.Name
                            <div class="progress mb-3 mr-5">
                                <div class="progress-bar bg-info"
                                     role="progressbar"
                                     style="width: @(skill.SkillRating*20)%"
                                     aria-valuenow=@skill.SkillRating
                                     aria-valuemin="0"
                                     aria-valuemax="5">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            @*Small Size Screen*@
            <div class="d-block d-sm-none ">
                <div class="row">

                    @for (int i = 0; i < skillsToShow; i++)
                    {
                        if (i < numberOfSkillsInCategory)
                        {
                            <div class="col-12">

                                @skillsOfCategory[i].Name
                                <div class="progress mb-3 mr-3">
                                    <div class="progress-bar bg-info"
                                         role="progressbar"
                                         style="width: @(skillsOfCategory[i].SkillRating*20)%"
                                         aria-valuenow=@skillsOfCategory[i].SkillRating
                                         aria-valuemin="0"
                                         aria-valuemax="5">
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @if (numberOfSkillsInCategory > skillsToShow)
                    {
                        //More Skills Button
                        <div class="show multi-collapse col-12" id="@category-moreSkills">
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-light show-hide-skill-btn"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#@category-hiddenSkills, #@category-moreSkills, #@category-lessSkills"
                                        aria-expanded="false"
                                        aria-controls="@category-hiddenSkills @category-lessSkills">
                                    <i class="fas fa-angle-down"></i>
                                </button>
                            </div>
                        </div>

                        //More Skills
                        @for (int i = skillsToShow; i < numberOfSkillsInCategory; i++)
                        {
                            <div class="collapse multi-collapse col-12" id="@category-hiddenSkills">
                                @skillsOfCategory[i].Name
                                <div class="progress mb-3 mr-3">
                                    <div class="progress-bar bg-info"
                                         role="progressbar"
                                         style="width: @(skillsOfCategory[i].SkillRating*20)%"
                                         aria-valuenow=@skillsOfCategory[i].SkillRating
                                         aria-valuemin="0"
                                         aria-valuemax="5">
                                    </div>
                                </div>
                            </div>
                        }

                        //Less Skills Button
                        <div class="collapse multi-collapse col-12" id="@category-lessSkills">
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-light show-hide-skill-btn"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#@category-hiddenSkills, #@category-moreSkills, #@category-lessSkills"
                                        aria-expanded="false"
                                        aria-controls="@category-hiddenSkills @category-moreSkills">
                                    <i class="fas fa-angle-up"></i>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    }

</div>


<div id="Contact" class="page-section">
    <h1>Kontakt</h1>

    <div class="row">

        <a class="contact-tile" href="https://github.com/Bananamafia" target="_blank" alt="GitHub">
            <div class="d-flex align-items-center h-100">
                <div class="container">
                    <i class="fab fa-github"></i>
                    <div>GitHub</div>
                </div>
            </div>
        </a>
        <a class="contact-tile" href="mailto:mail@maximiliankiefer.de" target="_blank" alt="Mail">
            <div class="d-flex align-items-center h-100">
                <div class="container">
                    <i class="far fa-envelope"></i>
                    <div>Mail</div>
                </div>
            </div>
        </a>
        <a class="contact-tile" href="https://www.xing.com/profile/Maximilian_Kiefer8/portfolio" target="_blank" alt="Xing">
            <div class="d-flex align-items-center h-100">
                <div class="container">
                    <i class="fab fa-xing"></i>
                    <div>Xing</div>
                </div>
            </div>
        </a>
        <a class="contact-tile" href="https://www.linkedin.com/in/maximilian-kiefer/" target="_blank" alt="LinkedIn">
            <div class="d-flex align-items-center h-100">
                <div class="container">
                    <i class="fab fa-linkedin"></i>
                    <div>LinkedIn</div>
                </div>
            </div>
        </a>

    </div>

</div>