@page
@model IndexModel
@{
}


<div id="Index" class="page-section">

    <img src="~/Images/me.png" alt="Maximilian Kiefer" />

    <div class="bg-info">

        <div class="d-flex align-items-center justify-content-end landing-headings">
            <h2 class="text-white">Maximilian Kiefer</h2>
            <h1 class="text-white">C# Softwareentwickler</h1>
        </div>

        <div class="d-flex justify-content-end align-items-end">
            <div class="footer-background"></div>
        </div>

        <div class="d-flex align-items-center justify-content-end">
            <a href="#AboutMe">
                <i class="fas fa-chevron-down text-white go-on-arrow"></i>
            </a>
        </div>

    </div>
</div>


<div id="AboutMe" class="page-section">

    <h1>Über mich</h1>

    <div>
        <h2>Wachstum durch Herausforderung</h2>
        <div class="text-justify hyphens">
            Diese Devise beschreibt mich wohl am besten. <br />
            Meine Faszination für Softwareentwicklung hatte ihren Ursprung im jugendlichen Wunsch ein eigenes Videospiel zu entwickeln. <br />
            So eignete ich mir selbstständig die Grundlagen von C# an und baute diese fortwährend in diversen Projekten, so auch dieser Homepage, immer weiter aus.
            Sicherlich ist der Weg des Selbststudiums nicht immer einfach und dennoch setze ich mir kontinuierlich höhere Ziele und verwende neue Technologien und Methoden, um weiter von Projekt zu Projekt zu wachsen.
            Herausforderungen treiben mich an und motivieren mich stetig zu lernen.
        </div>
    </div>

    <br />

    <h2>Doch wer bin ich eigentlich?</h2>
    <div class="text-justify hyphens">
        Ich bin Maximilian und arbeite derzeit im IT Recruiting eines mittelständischen Unternehmens am Standort Karlsruhe. <br />
        Studiert habe ich an der renommierten Hochschule Pforzheim und habe dort im Jahr 2019 meinen Bachelor im Bereich BWL mit Schwerpunkt Personalmanagement erworben.
        Neben der HR Erfahrung, hatte ich auch im Studium zahlreiche Schnittstellen mit der IT.
        Meine Thesis zum Beispiel schrieb ich bei einem Unternehmen, welches sich auf IT-Lösungen für den öffentlichen Personennahverkehr spezialisiert hat und unterstützte dieses dabei eine Social Collaboration Plattform erfolgreich einzuführen.
        Hierbei erarbeite ich konkrete Handlungsempfehlungen für den notwendigen Change Prozess und wirkte in der Folge auch an der technischen Einführung mit. <br />
        Natürlich verbringe ich meine Freizeit gerne am PC, doch bin ich auch sportlich aktiv und als Torwart der sichere Rückhalt meiner Handballmannschaft.
    </div>
    <br />

</div>


<div id="ProjectOverview" class="page-section">

    <h1>Projektübersicht</h1>

    @*Normal Size Screen*@
    <div @*class="d-none d-sm-block"*@>
        <div class="row">

            @foreach (var project in Model.MyProjects)
            {
                <a href="~/ProjectDetails?Id=@project.Id">
                    <div class="card portfolio-card border-0">

                        <img class="card-img portfolio-card-content" src="@project.Thumbnail" alt="@project.Title" />

                        <div class="card-img-overlay portfolio-card-content d-flex align-items-end justify-content-center">
                            <div class="portfolio-card-footer-background"></div>
                        </div>

                        <div class="card-img-overlay portfolio-card-content d-flex align-items-end">
                            <div class="container">
                                <h2>@project.Title</h2>
                                <h3>@project.MainTechnology</h3>
                            </div>
                        </div>
                    </div>
                </a>
            }


            <div class="card portfolio-card border-0" style="cursor:default">

                <img class="card-img portfolio-card-content" src="~/Images/Thumbnails/Thumbnail-Vorlage.png" alt="Weitere folgen..." />

                <div class="card-img-overlay portfolio-card-content d-flex align-items-end">
                    <div class="container">
                        <h2 class="mb-3 text-black-50">Weitere folgen..</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @*Small Size Screen*@
    @*<div class="d-block d-sm-none">



            <div style="position:relative; top:0; left:0;" class="bg-light">
                <div style="visibility:hidden;">
                    <img src="~/Images/Thumbnails/PrivHomepage.png" style="height:2000px" />
                </div>


                <div class="row">


                    <div style="z-index:0; opacity:0.3; position:absolute; top:0; left:0; transform:scale(0.9)">
                        <img src="@Model.MyProjects[2].Thumbnail" />
                    </div>

                    <div style="z-index:1; opacity:0.5; position:absolute; top:0; left:10%; transform:scale(0.95)">
                        <img src="@Model.MyProjects[1].Thumbnail" />
                    </div>


                    <div style="z-index:2; position:absolute; top:0; left:50%; margin-left:-100px;">
                        <img src="@Model.MyProjects[0].Thumbnail"/>
                    </div>


                    <div style="z-index:1; opacity:0.5; position:absolute; top:0; right:10%; transform:scale(0.95)">
                        <img src="@Model.MyProjects[1].Thumbnail" />
                    </div>

                    <div style="z-index:0; opacity:0.3; position:absolute; top:0; right:0; transform:scale(0.9)">
                        <img src="@Model.MyProjects[2].Thumbnail" />
                    </div>
                </div>

            </div>

        </div>*@


</div>


<div id="Skillset" class="page-section">

    <h1>Mein Skillset</h1>

    <div class="text-justify hyphens mb-3">
        In der Entwicklung spricht man immer wieder vom Skillset oder dem "Werkzeugkoffer" eines Programmierers. Gemeint sind hierbei die Tools und Technologien, mit denen er arbeitet.
        Im Folgenden finden Sie eine Übersicht der Skills, mit welchen ich bisher Erfahrungen sammeln konnte. Deren Umgang habe ich mir in weiten Teilen selbstständig angeeignet.<br />
        Die Bepunktung neben dem jeweiligen Skill, stellt einen Richtwert dar, wie ich meine Fähigkeiten mit diesem einschätze. Während ein Punkt bedeutet, dass ich mit den Basics vertraut bin, stehen 5 Punkte für einen Routinierten Umgang.
    </div>

    <div class="row">

        <div class="col-md-4 p-2">
            <div class="skill-category p-3">
                <h2 class="text-center">Dev</h2>

                <div class="with-background" @*style="background-image: url(../Images/Skills/Dev.png);*@>
                    @foreach (var tool in Model.MyTools.Where(n => n.Category == "Dev"))
                    {
                        <div class="d-flex justify-content-between" style="font-size:15pt;">

                            <div>@tool.Name</div>

                            <div class="d-flex justify-content-end align-items-center" style="font-size:10pt">
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < tool.ToolRating)
                                    {
                                        <div class="text-info ml-1"><i class="fas fa-circle"></i></div>
                                    }
                                    else
                                    {
                                        <div class="text-black-50 ml-1"><i class="fas fa-circle"></i></div>
                                    }
                                }
                            </div>




                            @*<div class="progress mb-3">
                                    <div class="progress-bar bg-info"
                                         role="progressbar"
                                         style="width: @(tool.ToolRating*20)%"
                                         aria-valuenow=@tool.ToolRating
                                         aria-valuemin="0"
                                         aria-valuemax="5">
                                    </div>
                                </div>*@
                        </div>
                    }
                </div>

            </div>
        </div>

        <div class="col-md-4 p-2">
            <div class="skill-category p-3">
                <h2 class="text-center">Web</h2>

                <div class="with-background" @*style="background-image: url(../Images/Skills/Web.png);*@>
                    @foreach (var tool in Model.MyTools.Where(n => n.Category == "Web"))
                    {
                        <div class="d-flex justify-content-between" style="font-size:15pt;">

                            <div>@tool.Name</div>

                            <div class="d-flex justify-content-end align-items-center" style="font-size:10pt">
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < tool.ToolRating)
                                    {
                                        <div class="text-info ml-1"><i class="fas fa-circle"></i></div>
                                    }
                                    else
                                    {
                                        <div class="text-black-50 ml-1"><i class="fas fa-circle"></i></div>
                                    }
                                }
                            </div>




                            @*<div class="progress mb-3">
                                    <div class="progress-bar bg-info"
                                         role="progressbar"
                                         style="width: @(tool.ToolRating*20)%"
                                         aria-valuenow=@tool.ToolRating
                                         aria-valuemin="0"
                                         aria-valuemax="5">
                                    </div>
                                </div>*@
                        </div>
                    }
                </div>

            </div>
        </div>

        <div class="col-md-4 p-2">
            <div class="skill-category p-3">
                <h2 class="text-center">Sonstiges</h2>

                <div class="with-background" @*style="background-image: url(../Images/Skills/other.png);*@>
                    @foreach (var tool in Model.MyTools.Where(n => n.Category == "Other"))
                    {
                        <div class="d-flex justify-content-between" style="font-size:15pt;">

                            <div>@tool.Name</div>

                            <div class="d-flex justify-content-end align-items-center" style="font-size:10pt">
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < tool.ToolRating)
                                    {
                                        <div class="text-info ml-1"><i class="fas fa-circle"></i></div>
                                    }
                                    else
                                    {
                                        <div class="text-black-50 ml-1"><i class="fas fa-circle"></i></div>
                                    }
                                }
                            </div>




                            @*<div class="progress mb-3">
                                    <div class="progress-bar bg-info"
                                         role="progressbar"
                                         style="width: @(tool.ToolRating*20)%"
                                         aria-valuenow=@tool.ToolRating
                                         aria-valuemin="0"
                                         aria-valuemax="5">
                                    </div>
                                </div>*@
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>

</div>


<div id="Contact" class="page-section">
    <h1>Kontakt</h1>

    <div class="row">

        <div class="col-3 p-2">
            <a class="d-flex align-items-center contact-tile" href="https://github.com/Bananamafia" target="_blank" rel="noreferrer" alt="GitHub">
                <div class="container text-center">
                    <i class="fab fa-github"></i>
                    <div>GitHub</div>
                </div>
            </a>
        </div>

        <div class="col-3 p-2">
            <a class="d-flex align-items-center contact-tile" href="mailto:mail@maximiliankiefer.de" target="_blank" rel="noreferrer" alt="Mail">
                <div class="container text-center">
                    <i class="far fa-envelope"></i>
                    <div>Mail</div>
                </div>
            </a>
        </div>

        <div class="col-3 p-2">
            <a class="d-flex align-items-center contact-tile" href="https://www.xing.com/profile/Maximilian_Kiefer8/portfolio" target="_blank" rel="noreferrer" alt="Xing">
                <div class="container text-center">
                    <i class="fab fa-xing"></i>
                    <div>Xing</div>
                </div>
            </a>
        </div>

        <div class="col-3 p-2">
            <a class="d-flex align-items-center contact-tile" href="https://www.linkedin.com/in/maximilian-kiefer/" target="_blank" rel="noreferrer" alt="LinkedIn">
                <div class="container text-center">
                    <i class="fab fa-linkedin"></i>
                    <div>LinkedIn</div>
                </div>
            </a>
        </div>

    </div>

</div>